<h1 style="font-family: 'Mongolian Baiti'"><%= @word_mongolian %> | <%= @word.GALIG %></h1>
<p><%= @word.HITAD %><%= "【" + @word.VDH_A + "】" if @word.VDH_A %></p>
<table>
  <tr>
    <th>
      MONGGOL
    </th>
    <td style="font-family: MHTweb-MHT">
    <%= @word.MONGGOL %>
    </td>
  </tr>
  <tr>
    <th>
      DAGVDALG_A
    </th>
    <td>
      <%= @word.DAGVDALG_A %>
    </td>
  </tr>
  <tr>
    <th>
      词性：
    </th>
    <td>
      <%= @word.GENDER %>
    </td>
  </tr>
  <tr>
    <th>
      BOTOCE
    </th>
    <td>
      <%= @word.BOTOCE %>
    </td>
  </tr>
  <tr>
    <th>
      JOBBICI
    </th>
    <td>
      <%= @word.JOBBICI %>
    </td>
  </tr>
  <tr>
    <th>
      UGSAIMAG
    </th>
    <td>
      <%= @word.UGSAIMAG %>
    </td>
  </tr>
  <tr>
    <th>
      AIMGDABH
    </th>
    <td>
      <%= @word.AIMGDABH %>
    </td>
  </tr>
  <tr>
    <th>
      HOLBBOTC
    </th>
    <td>
      <%= @word.HOLBBOTC %>
    </td>
  </tr>
  <tr>
    <th>
      ADLDGDLG
    </th>
    <td>
      <%= @word.ADLDGDLG %>
    </td>
  </tr>
  <tr>
    <th>
      ADLDURSU
    </th>
    <td>
      <%= @word.ADLDURSU %>
    </td>
  </tr>
  <tr>
    <th>
      BEYEDAGH
    </th>
    <td>
      <%= @word.BEYEDAGH %>
    </td>
  </tr>
  <tr>
    <th>
      DABTAMJI
    </th>
    <td>
      <%= @word.DABTAMJI %>
    </td>
  </tr>
</table>
